body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    position: relative;
}

.backdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.backdrop-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%) blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.backdrop-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-backdrop {
    opacity: 0;
}

.active-backdrop {
    opacity: 1;
}

.fade-out-backdrop {
    opacity: 0;
}

.active-backdrop {
    opacity: 1 !important;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.horizontal-scroll::-webkit-scrollbar {
    height: var(--sb-size);
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1.5rem;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1.5rem;
}

@supports not selector(::-webkit-scrollbar) {
    .horizontal-scroll {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

body {
    --sb-track-color: rgba(0, 0, 0, 0);
    --sb-thumb-color: rgba(255, 255, 255, 0.5);
    --sb-size: 0.5rem;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1.5rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1.5rem;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.movie-card {
    flex: 0 0 auto;
    width: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(10px);
}

.movie-card:hover {
    background: rgba(255, 255, 255, 0.2);
}

.movie-card img {
    width: 100%;
    border-radius: 1.5rem;
}

.search-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 1.5rem;
    text-align: center;
}

.search-input {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: white;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-input:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
}

.marquee-inner {
    display: flex;
    gap: 2px;
    animation: marqueeScroll 300s linear infinite;
}

.ott-logo {
    display: inline-block;
    height: 100px;
    margin: 0 10px;
}

@keyframes marqueeScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.bi {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.bi:hover {
    color: #ffffff;
}

.cloudflare-icons {
    color: #ababab;
    box-shadow: #ababab;
}

.cloudflare-icons:hover {
    color: #ffffff;
}

.cloudflare-icons-search {
    color: #ffffff;
}

.cloudflare-icons-search:hover {
    color: #ffffff;
}

.navbar-container,
.nav-items,
.footer-icons,
.footer-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    text-align: center;
}

.auth-btn{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.auth-btn:hover{ 
    background: rgba(255, 255, 255, 0.2);
}
.icon-white{
    color: white;
}

.greet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.greet-text-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 1.5rem;
    text-align: center;
    width: 100%;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.remove-btn:hover {
    color: red;
}