.icon-white {
    color: white;
}

body,
html {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden; /* Keeps horizontal scrolling disabled */
    overflow-y: auto; /* Allows vertical scrolling */
    background-color: black;
    font-family: Arial, sans-serif;
    --sb-track-color: rgba(0, 0, 0, 0);
    --sb-thumb-color: rgba(255, 255, 255, 0.5);
    --sb-size: 0.5rem;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: var(--sb-size);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1.5rem;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1.5rem;
}

@supports not selector(::-webkit-scrollbar) {

    html,
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

#container {
    display: flex;
    height: 80vh;
}

#sidebar {
    width: 250px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    padding: 15px;
    overflow-y: auto;
    max-height: 80vh;
}

#sidebar::-webkit-scrollbar {
    width: var(--sb-size);
}

#sidebar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1.5rem;
}

#sidebar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1.5rem;
}

@supports not selector(::-webkit-scrollbar) {
    #sidebar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

#sidebar h3 {
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 15px;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    cursor: pointer;
}

#sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.25);
}

#sidebar ul li.active {
    background: rgba(255, 255, 255, 0.5);
}

#playerContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-only {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
}

iframe {
    width: 80%;
    height: 80%;
    border: none;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

@media (min-width: 769px) {
    #sidebar {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}

select {
    max-width: 90%;
}

select option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-track {
    background: #222;
}

select::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

@media (max-width: 768px) {
    select {
        max-height: 200px;
        overflow-y: auto;
    }
}

.navbar-container,
.nav-items,
.footer-icons,
.footer-container,
.movie_player {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    text-align: center;
}

.exit-btn{
    background: rgba(255, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}
.exit-btn:hover{ 
    background: rgba(255, 0, 0, 0.6);
}


.bi {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.bi:hover {
    color: #ffffff;
}

.cloudflare-icons {
    color: #ababab;
    box-shadow: #ababab;
}

.cloudflare-icons:hover {
    color: #ffffff;
}

.cloudflare-icons-search {
    color: #ffffff;
}

.cloudflare-icons-search:hover {
    color: #ffffff;
}

#warningPara {
    font-size: 1rem;
    font-weight: bold;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
}